body {
    background-color: #222831;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    color: #EEEEEE;
    font-size: 12pt;
    box-sizing: border-box;
}

.gradient-background {
    background: linear-gradient(250deg, #393E46, #00ADB5, #222831);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}



@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.container {
    height: 100vh;
    width: 100vw;
    
}

.desktop {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(8, 1fr);  
    height: 94%;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    justify-self: center;
    padding: 0;
}

.icon:hover {
    color: #00ADB5;
}

.icn-text {
    margin-top: 8px;
    cursor: default;
    user-select: none;
    
    text-align: center;
}

.window {
    display: flex;
    flex-direction: column;  
    /* border: 1px solid #EEE; */
    border-radius: 5px;    
    background-color: #393E46;
    transform: translateY(-150%);
    transition: transform 0.2s;
    color: #EEE;
    
    
}

.window-titlebar {
    display: flex;
    /* background-color: #EEEEEE; */
    height: 25px;    
    padding: 5px; 
    justify-content: space-between;
    
}

.window-title { 
    margin: 0;
    font-weight: 600;   
    padding-left: 5px;  
    
}

.window-content {
    padding: 10px;
}

.close-btn {
    background-color: transparent ;
    font-weight: 600;    
    border: none;
    color: crimson;
    
}

.about {
    grid-area: 1 / 1;
}

.projects {
    grid-area: 2 / 1;
}

.contact {
    grid-area: 3 / 1;
}

.socials {
    grid-area: 4 / 1
}

.icn-4 {
    grid-area: 5 / 1;
}

.window {
    grid-area: 1 / 1 / 9 / 21;
}

.showMe {
    transform: translateY(0);
}

.aboutContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
 }

 .bio {
    grid-area: 1 / 2 / 3 / 3;
 }

 .profile{
    display: flex;
    justify-content: center;
    align-items: center;   
 }

 .profileBadge {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;    
    gap: 15px;
    /* border: 5px double #EEE; */
    border-radius: 130px;
    padding: 15px;  
    background-color: #00ADB5;  
 }

 .profileImg {
    transform: translateX(0);
    transition: transform 0.2s;
    grid-area: 1 / 1;    
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid transparent;
    border-radius: 100%;
    
 }

 .profileImg:hover {
    border: 5px solid #EEE;
    
 }

 .profileSocials {
    grid-area: 1 / 1;
    display: flex;
    gap: 10px;
    justify-content: center;
 }

 .profileSocials > a {
    color: #EEE;
 }

 .profileSocials > a > svg {
    width: 35px;
    height: 35px;
 }

 .achievements {
    text-align: center;
 }

 .achievementBadges {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
 }

 .revealSocials {
    transform: translateX(100%);
    
 }

 .hideMe {
    display: none;
 }
